In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression

In [2]:
import requests
import json
import random
from pprint import pprint

In [41]:
filePath = "Gen1_List.csv"
gen1List = pd.read_csv(filePath)
gen1List

,Number,Name,Types,Type1,Type2,Height(m),Weight(kg),Male_Pct,Female_Pct,Capt_Rate,...,Poison_Dmg,Ground_Dmg,Flying_Dmg,Psychic_Dmg,Bug_Dmg,Rock_Dmg,Ghost_Dmg,Dragon_Dmg,Evolutions,Legendary
0,1,Bulbasaur,2,grass,poison,0.7,6.9,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
1,2,Ivysaur,2,grass,poison,1.0,13.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
2,3,Venusaur,2,grass,poison,2.0,100.0,87.5,12.5,45,...,1.0,1.0,2.0,2.0,4.0,1.0,1,1,2,0
3,4,Charmander,1,fire,None,0.6,8.5,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
4,5,Charmeleon,1,fire,None,1.1,19.0,87.5,12.5,45,...,1.0,2.0,1.0,1.0,0.5,2.0,1,1,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
146,147,Dratini,1,dragon,None,1.8,3.3,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
147,148,Dragonair,1,dragon,None,4.0,16.5,50.0,50.0,45,...,1.0,1.0,1.0,1.0,1.0,1.0,1,2,2,0
148,149,Dragonite,2,dragon,flying,2.2,210.0,50.0,50.0,45,...,1.0,0.0,1.0,1.0,0.5,2.0,1,2,2,0
149,150,Mewtwo,1,psychic,None,2.0,122.0,0.0,0.0,3,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1
150,151,Mew,1,psychic,None,0.4,4.0,0.0,0.0,45,...,1.0,1.0,1.0,0.5,2.0,1.0,0,1,0,1

In [42]:
gen1_df = pd.DataFrame({"Pokemon": gen1List[' Name']})

In [43]:
gen1 = gen1_df['Pokemon']
gen1

0       Bulbasaur
1         Ivysaur
2        Venusaur
3      Charmander
4      Charmeleon
          ...
146       Dratini
147     Dragonair
148     Dragonite
149        Mewtwo
150           Mew
Name: Pokemon, Length: 151, dtype: object

In [44]:
pokeList = []
for name in gen1:
    pokeList.append(name)

In [45]:
pokemonList = [name.lower() for name in pokeList]
pokemonList

['bulbasaur',
 'ivysaur',
 'venusaur',
 'charmander',
 'charmeleon',
 'charizard',
 'squirtle',
 'wartortle',
 'blastoise',
 'caterpie',
 'metapod',
 'butterfree',
 'weedle',
 'kakuna',
 'beedrill',
 'pidgey',
 'pidgeotto',
 'pidgeot',
 'rattata',
 'raticate',
 'spearow',
 'fearow',
 'ekans',
 'arbok',
 'pikachu',
 'raichu',
 'sandshrew',
 'sandslash',
 'nidoran-f',
 'nidorina',
 'nidoqueen',
 'nidoran-m',
 'nidorino',
 'nidoking',
 'clefairy',
 'clefable',
 'vulpix',
 'ninetales',
 'jigglypuff',
 'wigglytuff',
 'zubat',
 'golbat',
 'oddish',
 'gloom',
 'vileplume',
 'paras',
 'parasect',
 'venonat',
 'venomoth',
 'diglett',
 'dugtrio',
 'meowth',
 'persian',
 'psyduck',
 'golduck',
 'mankey',
 'primeape',
 'growlithe',
 'arcanine',
 'poliwag',
 'poliwhirl',
 'poliwrath',
 'abra',
 'kadabra',
 'alakazam',
 'machop',
 'machoke',
 'machamp',
 'bellsprout',
 'weepinbell',
 'victreebel',
 'tentacool',
 'tentacruel',
 'geodude',
 'graveler',
 'golem',
 'ponyta',
 'rapidash',
 'slowpoke',
 'slowbro',
 'magnemite',
 'magneton',
 'farfetchd',
 'doduo',
 'dodrio',
 'seel',
 'dewgong',
 'grimer',
 'muk',
 'shellder',
 'cloyster',
 'gastly',
 'haunter',
 'gengar',
 'onix',
 'drowzee',
 'hypno',
 'krabby',
 'kingler',
 'voltorb',
 'electrode',
 'exeggcute',
 'exeggutor',
 'cubone',
 'marowak',
 'hitmonlee',
 'hitmonchan',
 'lickitung',
 'koffing',
 'weezing',
 'rhyhorn',
 'rhydon',
 'chansey',
 'tangela',
 'kangaskhan',
 'horsea',
 'seadra',
 'goldeen',
 'seaking',
 'staryu',
 'starmie',
 'mr-mime',
 'scyther',
 'jynx',
 'electabuzz',
 'magmar',
 'pinsir',
 'tauros',
 'magikarp',
 'gyarados',
 'lapras',
 'ditto',
 'eevee',
 'vaporeon',
 'jolteon',
 'flareon',
 'porygon',
 'omanyte',
 'omastar',
 'kabuto',
 'kabutops',
 'aerodactyl',
 'snorlax',
 'articuno',
 'zapdos',
 'moltres',
 'dratini',
 'dragonair',
 'dragonite',
 'mewtwo',
 'mew']

In [46]:
poke_df = pd.DataFrame({"Name": pokemonList})
poke_df["Type"] = ""
poke_df["HP"] = ""
poke_df["Attack"] = ""
poke_df["Defense"] = ""
poke_df["Special Attack"] = ""
poke_df["Special Defense"] = ""
poke_df["Speed"] = ""

poke_df.head()

         Name Type HP Attack Defense Special Attack Special Defense Speed
0   bulbasaur
1     ivysaur
2    venusaur
3  charmander
4  charmeleon

In [47]:
api_url = "https://pokeapi.co/api/v2/pokemon/"

for index, row in poke_df.iterrows():
    Pokemon = row['Name']
    query_url = api_url + Pokemon
    base_response = requests.get(query_url)
#     print(f"{base_response.status_code} - {Pokemon}")
    if base_response.status_code == 200:
        response = base_response.json()
        try:
#             print(response["stats"][0]["base_stat"])
            poke_df.loc[poke_df.Name == Pokemon,'Type'] = response["types"][0]["type"]["name"]
            poke_df.loc[poke_df.Name == Pokemon,'HP'] = response["stats"][0]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Attack'] = response["stats"][1]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Defense'] = response["stats"][2]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Special Attack'] = response["stats"][3]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Special Defense'] = response["stats"][4]["base_stat"]
            poke_df.loc[poke_df.Name == Pokemon,'Speed'] = response["stats"][5]["base_stat"]
        except:
            poke_df.loc[poke_df.Name == Pokemon,'Type'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'HP'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Attack'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Defense'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Special Attack'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Special Defense'] = ""
            poke_df.loc[poke_df.Name == Pokemon,'Speed'] = ""
    else: 
        print(f"{Pokemon} Not Found")

In [48]:
poke_df.head()

         Name   Type  HP Attack Defense Special Attack Special Defense Speed
0   bulbasaur  grass  45     49      49             65              65    45
1     ivysaur  grass  60     62      63             80              80    60
2    venusaur  grass  80     82      83            100             100    80
3  charmander   fire  39     52      43             60              50    65
4  charmeleon   fire  58     64      58             80              65    80

In [50]:
poke_df = poke_df.sort_values(by=['Name'], ascending=True)
poke_df.head()

,Name,Type,HP,Attack,Defense,Special Attack,Special Defense,Speed
62,abra,psychic,25,20,15,105,55,90
141,aerodactyl,rock,80,105,65,60,75,130
64,alakazam,psychic,55,50,45,135,95,120
23,arbok,poison,60,95,69,65,79,80
58,arcanine,fire,90,110,80,100,80,95

In [3]:
filePath2 = "testingDF_results.csv"
poke_df = pd.read_csv(filePath2)
poke_df.head()

,Name,Type,HP,Attack,Defense,Special Attack,Special Defense,Speed,varATT,varDEF,Avg,vs.,Score,W/L
0,abra,psychic,25,20,15,105,55,90,95.00,42.5,68.750,pidgey,1.750,1
1,aerodactyl,rock,80,105,65,60,75,130,167.50,102.5,135.000,pinsir,-19.375,0
2,alakazam,psychic,55,50,45,135,95,120,147.50,92.5,120.000,articuno,-38.125,0
3,arbok,poison,60,95,69,65,79,80,147.50,108.5,128.000,cloyster,-50.750,0
4,arcanine,fire,90,110,80,100,80,95,183.75,120.0,151.875,nidorino,51.750,1

In [55]:
# poke_df['varATT'] = (poke_df["Attack"] + (0.5*poke_df["Special Attack"]) + (0.25*(poke_df["Speed"])))
# poke_df['varDEF'] = (poke_df["Defense"] + (0.5*(poke_df["Special Defense"])))
# poke_df.head()

,Name,Type,HP,Attack,Defense,Special Attack,Special Defense,Speed,varATT,varDEF,Avg,vs.,Score,W/L
0,abra,psychic,25,20,15,105,55,90,95.00,42.5,68.750,pidgey,1.750,1
1,aerodactyl,rock,80,105,65,60,75,130,167.50,102.5,135.000,pinsir,-19.375,0
2,alakazam,psychic,55,50,45,135,95,120,147.50,92.5,120.000,articuno,-38.125,0
3,arbok,poison,60,95,69,65,79,80,147.50,108.5,128.000,cloyster,-50.750,0
4,arcanine,fire,90,110,80,100,80,95,183.75,120.0,151.875,nidorino,51.750,1

In [27]:
# poke_df.to_csv("testingDF.csv",index=False)

In [41]:
# # Battle engine
# pokeHP = poke_df["HP"]
# pokeDefense = (poke_df["Defense"] + (0.5*(poke_df["Special Defense"])))
# pokeAttack = (poke_df["Attack"] + (0.5*poke_df["Special Attack"]) + (0.25*(poke_df["Speed"])))

# e = e(HP) - (b(attack) - e(defense))
# b = b(HP) - (e(attack) - b(defense))

# if e > b then e = Winner(1),(L=0)

In [4]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model

LinearRegression()

In [58]:
# Predictive
X = stats
y = winner

In [59]:
# model.fit(X, y)
# print(model)

ValueError: Expected 2D array, got 1D array instead:
array=[150 380 270 304 375 360 270 200 340 188 225 155 310 340 199 260 298 198
 395 230 310 185 192 350 240 280 400 200 195 305 215 194 310 330 220 330
 257 320 320 175 295 240 235 315 235 325 375 300 235 230 380 235 310 310
 200 295 245 200 320 245 255 360 210 155 370 375 235 275 355 250 355 295
 235 165 310 175 275 225 295 210 155 400 436 370 240 335 345 345 195 193
 255 255 324 180 210 310 310 185 265 310 339 249 181 220 375 220 285 350
 280 235 325 205 315 340 293 193 395 285 250 350 365 300 305 210 235 310
 235 365 200 200 335 215 295 380 185 315 320 285 210 325 320 290 220 184
 260 155 260 335 300 365 175].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [38]:
# predictions = model.predict(X)
# print(f"True output: {y[0]}")
# print(f"Predicted output: {predictions[0]}")
# print(f"Prediction Error: {predictions[0]-y[0]}")

True output: 0           53
1      67.3333
2      87.3333
3           59
4      74.6667
        ...
146    54.6667
147    74.6667
148    104.667
149    131.333
150        100
Length: 151, dtype: object
Predicted output: [ 53.          67.33333333  87.33333333  59.          74.66666667
  97.66666667  47.          62.          82.          31.66666667
  25.          68.33333333  35.          28.33333333  70.
  45.33333333  60.33333333  83.66666667  51.          76.
  53.66666667  83.66666667  51.66666667  80.          65.
  96.66666667  45.          70.          42.66666667  57.66666667
  81.          49.          64.          90.66666667  46.66666667
  75.          52.          85.66666667  36.66666667  66.66666667
  43.33333333  78.33333333  51.66666667  63.33333333  80.
  46.66666667  61.66666667  46.66666667  81.66666667  61.66666667
  90.          58.33333333  83.33333333  57.33333333  87.33333333
  61.66666667  86.66666667  66.66666667 101.66666667  60.
  68.33333333  78.33333333  71.66666667  86.66666667 101.66666667
  50.          65.          83.33333333  61.66666667  76.66666667
  91.66666667  53.33333333  83.33333333  43.33333333  58.33333333
  73.33333333  80.          95.          40.          68.33333333
  58.33333333  83.33333333  69.33333333  65.          93.33333333
  45.          70.          48.33333333  73.33333333  50.
  83.33333333  71.66666667  86.66666667 101.66666667  48.33333333
  44.33333333  71.          60.          85.          61.66666667
  93.33333333  46.66666667  91.66666667  41.66666667  58.33333333
  80.66666667  72.          48.33333333  53.33333333  78.33333333
  46.66666667  71.66666667  30.          71.66666667  75.
  56.66666667  81.66666667  55.          75.          66.66666667
  96.66666667  78.33333333  90.          86.66666667  94.33333333
  96.          88.33333333  83.33333333  35.          88.66666667
  76.66666667  48.          51.66666667  80.         101.66666667
  96.66666667  61.66666667  55.          76.66666667  63.33333333
  86.66666667  98.33333333  68.33333333  88.33333333 105.
 105.          54.66666667  74.66666667 104.66666667 131.33333333
 100.        ]
Prediction Error: 0      0
1      0
2      0
3      0
4      0
      ..
146    0
147    0
148    0
149    0
150    0
Length: 151, dtype: object

In [39]:
# poke_df['x'] = y[0]
# poke_df.head()

,Name,Type,HP,Attack,Defense,Special Attack,Special Defense,Speed,x
0,bulbasaur,grass,45,49,49,65,65,45,53
1,ivysaur,grass,60,62,63,80,80,60,67.3333
2,venusaur,grass,80,82,83,100,100,80,87.3333
3,charmander,fire,39,52,43,60,50,65,59
4,charmeleon,fire,58,64,58,80,65,80,74.6667

In [40]:
# poke_df['Predict'] = model.predict(X)
# poke_df.head()

ValueError: Length of values (1) does not match length of index (151)